.mat-dialog-title {
  /*margin-top: -24px !important;*/
  /*margin-left: -24px !important;*/
  /*margin-right: -24px !important;*/
  padding: 0 !important;
}

.dialog-title-toolbar .mat-toolbar {
  border: transparent !important;
  margin: 0 !important;
  background: #3f51b5 !important;
  color: white;
}

::ng-deep.mat-dialog-container {
  border-radius: 5px !important;
  padding: 0 !important;
  margin: 0 !important;
  background: transparent !important;
}

::ng-deep.mat-dialog-content {
  margin: 0 !important;
  background-color: white;

}

::ng-deep.mat-dialog-title {
  border-radius: 5px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: white;
}

::ng-deep.mat-dialog-actions {
  padding: 0 !important;
  margin: 0 !important;
  background-color: white;
  border-radius: 5px;
}


/*::ng-deep.mat-dialog-title {*/
/*  padding: 0px !important;*/
/*}*/
