<h2 mat-dialog-title class="dialog-title-toolbar">
  <mat-toolbar>
    Cambiar contraseña
  </mat-toolbar>
</h2>

<mat-dialog-content style="width: 350px; height: 250px; overflow-y: auto;">
  <form [formGroup]="changePasswordForm" style="margin-top: 15px;">
    <div>
      <mat-form-field class="fill-width" appearance="outline">
        <mat-label>Contraseña antigua</mat-label>
        <input matInput [type]="hideOld ? 'password' : 'text'" name="oldPassword"
               name="oldPasswordInput" formControlName="oldPasswordInput" #oldPasswordInput
               maxlength="100">
        <button mat-icon-button matSuffix (click)="hideOld = !hideOld">
          <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div
        *ngIf="changePasswordForm.get('oldPasswordInput').hasError('required') && changePasswordForm.get('oldPasswordInput').touched"
        class="error-container-div">
        <mat-error class="error-container">
          <mat-icon class="error-icon">error_outline</mat-icon>
          <span class="error-text">El campo contraseña antigua es obligatorio</span>
        </mat-error>
      </div>
    </div>

    <div>
      <mat-form-field class="fill-width" appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput [type]="hideNew ? 'password' : 'text'" name="oldPassword"
               name="newPasswordInput" formControlName="newPasswordInput" #newPasswordInput
               maxlength="100">
        <div matSuffix class="multiple-suffix-btns">
          <div matRipple [matRippleCentered]="true" class="ripple-suffix">
            <mat-icon
              (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
          </div>
          <div matRipple [matRippleCentered]="true" class="ripple-suffix">
            <mat-icon
              matTooltip="La contraseña debe estar compuesta por al menos un carácter especial, letras en mayúsculas, letras minúsculas y números. La longitud de la misma debe ser igual o superior a 8 caracteres"
              matTooltipTouchGestures="off">info
            </mat-icon>
          </div>
        </div>
      </mat-form-field>
      <div
        *ngIf="changePasswordForm.get('newPasswordInput').hasError('required') && changePasswordForm.get('newPasswordInput').touched"
        class="error-container-div">
        <mat-error class="error-container">
          <mat-icon class="error-icon">error_outline</mat-icon>
          <span class="error-text">El campo nueva contraseña es obligatorio</span>
        </mat-error>
      </div>
      <div
        *ngIf="changePasswordForm.get('newPasswordInput').hasError('passwordValidator') && changePasswordForm.get('newPasswordInput').touched"
        class="error-container-div">
        <mat-error class="error-container">
          <mat-icon class="error-icon">error_outline</mat-icon>
          <span class="error-text">La contraseña no cumple con los requisitos</span>
        </mat-error>
      </div>
    </div>

    <div>
      <mat-form-field class="fill-width" appearance="outline">
        <mat-label>Confirmar nueva contraseña</mat-label>
        <input matInput [type]="hideConfirm ? 'password' : 'text'" name="oldPassword"
               name="confirmPassword" formControlName="confirmPassword" #confirmPassword
               maxlength="100">
        <div matSuffix class="multiple-suffix-btns">
          <div matRipple [matRippleCentered]="true" class="ripple-suffix">
            <mat-icon
              (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
          </div>
          <div matRipple [matRippleCentered]="true" class="ripple-suffix">
            <mat-icon
              matTooltip="La contraseña debe estar compuesta por al menos un carácter especial, letras en mayúsculas, letras minúsculas y números. La longitud de la misma debe ser igual o superior a 8 caracteres"
              matTooltipTouchGestures="off">info
            </mat-icon>
          </div>
        </div>
      </mat-form-field>
      <div
        *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').touched"
        class="error-container-div">
        <mat-error class="error-container">
          <mat-icon class="error-icon">error_outline</mat-icon>
          <span class="error-text">El campo confirmar nueva contraseña es obligatorio</span>
        </mat-error>
      </div>
      <div
        *ngIf="changePasswordForm.get('confirmPassword').hasError('passwordValidator') && changePasswordForm.get('confirmPassword').touched"
        class="error-container-div">
        <mat-error class="error-container">
          <mat-icon class="error-icon">error_outline</mat-icon>
          <span class="error-text">La contraseña no cumple con los requisitos</span>
        </mat-error>
      </div>
      <div
        *ngIf="changePasswordForm.get('confirmPassword').hasError('confirmPasswordValidator') && changePasswordForm.get('confirmPassword').touched"
        class="error-container-div">
        <mat-error class="error-container">
          <mat-icon class="error-icon">error_outline</mat-icon>
          <span class="error-text">Las contraseñas no coinciden</span>
        </mat-error>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <span style="flex: 1 1 auto"></span>
  <div style=" margin-right: 20px;">
    <button mat-button (click)="onNoClick()" [mat-dialog-close]="false">
      Cancelar
    </button>
    <button mat-button [mat-dialog-close]="true" style="color:#2c2e3e;" [disabled]="!changePasswordForm.valid"
            (click)="save()">
      Aceptar
    </button>
  </div>
</mat-dialog-actions>

