<div class="page-404">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <!--BEGIN CONTENT-->
        <div class="inner-circle">
          <mat-icon>report_problem</mat-icon>
          <span>404</span></div>
        <div class="inner-details-msg">
          <span class="inner-status">¡Lo sentimos! Ha ocurrido un error</span>
          <span class="inner-detail">
                   La pagina solicitada no se encuentra disponible
                </span>
          <a mat-flat-button mat-stroked-button routerLink="/inicio">
            <mat-icon>home</mat-icon>
            Volver a inicio
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
