::ng-deep .panel-class-confirm-delete .mat-dialog-container {
  border-left: 6px solid #9a0007 !important;
  padding: 14px;
}

.in-use-info-conatiner-container {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: left !important;
  vertical-align: center !important;
  horiz-align: left !important;
  align-self: center !important;
  width: 500px;
}

.in-use-info-icon-content .mat-icon {
  color: #9a0007;
  width: 64px;
  height: 64px;
  font-size: 64px;
  margin-top: 6px;
  margin-right: 14px;
}

.info-message-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  width: 432px;
}

.info-message-content {
  color: rgba(0, 0, 0, .54);
  margin-right: 8px;
}

.button-box-circle-close-in-use-info {
  width: 26px !important;
  height: 26px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  vertical-align: center !important;
  horiz-align: center !important;
  border-radius: 100% !important;
  float: right;
}

.button-box-circle-close-in-use-info {
  margin-top: -10px;
  /*margin-right: -2px;*/
}

.button-box-circle-close-in-use-info:hover {
  background: #d6d6d6 !important;
}

.in-use-info-icon-close {
  color: rgba(0, 0, 0, .54);
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.in-use-info-icon-close.mat-icon {
  line-height: 18px !important;
}

