<div class="in-use-info-conatiner-container">
  <div class="in-use-info-icon-content">
    <mat-icon>info</mat-icon>
  </div>
  <div class="in-use-info-message-content">
    <div class="info-message-title">
      Eliminar
      <button mat-icon-button
              matTooltip="Cerrar" (click)="onNoClick()"
              class="button-box-circle-close-in-use-info">
        <mat-icon class="in-use-info-icon-close">close</mat-icon>
      </button>
    </div>
    <div class="info-message-content">
      ¿Está seguro(a) que desea eliminar {{data.type}} <span style="color: #2c2e3e;">{{data.name}}</span>?
    </div>

    <div style="float: right; margin-right: 5px; margin-top: 8px;">
      <span style="flex: 1 1 auto"></span>
      <button mat-button (click)="onNoClick()">
       Cancelar
      </button>
      <button mat-button [mat-dialog-close]="true" color="primary">
       Aceptar
      </button>
    </div>
  </div>
</div>
